@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center-center {
    @apply flex justify-center items-center;
  }

  .admin-game-btn {
    @apply ml-1 inline px-1 rounded;
  }
}

body {
  background: #e5e8ed;
}

/* tod o */
::-webkit-scrollbar {
  display: none;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spin {
  animation-name: animate-loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.rate-increased-bg {
  background: #abed91;
}

.rate-bg {
  background-color: #52a921;
}

.hidden-in-small-phone {
  display: none;
}

@media screen and (min-width: 360px) {
  .hidden-in-small-phone {
    display: block;
  }
}
